<div class="row">
  <div class="col-12 mt-2">
    <h2>User List</h2>
    <div class="col-12 d-flex justify-content-end">
      <form>
        <div class="form-group has-search">
          <span class="fa fa-search form-control-feedback"></span>
          <input (keyup)="onChangePhrase($event)" type="text" class="form-control" placeholder="Search for name...">
        </div>
      </form>
    </div>
    <div class="col-12 mb-4">
      <button [routerLink]="['user/' + 0]" class="btn btn-block btn-success">
        <i class="fa fa-plus"></i> Add new User
      </button>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="onColumnSelect('id')">#
            <i *ngIf=" columnKey !=='id'" class=" fa fa-sort"></i>
            <i *ngIf="columnKey === 'id' && direction === 'asc'" class="fa fa-sort-down"></i>
            <i *ngIf="columnKey === 'id' && direction === 'dsc'" class="fa fa-sort-up"></i>
          </th>
          <th (click)="onColumnSelect('name')">Name
            <i *ngIf=" columnKey !=='name'" class=" fa fa-sort"></i>
            <i *ngIf="columnKey === 'name' && direction === 'asc'" class="fa fa-sort-down"></i>
            <i *ngIf="columnKey === 'name' && direction === 'dsc'" class="fa fa-sort-up"></i>
          </th>
          <th (click)="onColumnSelect('email')">Email
            <i *ngIf=" columnKey !=='email'" class=" fa fa-sort"></i>
            <i *ngIf="columnKey === 'email' && direction === 'asc'" class="fa fa-sort-down"></i>
            <i *ngIf="columnKey === 'email' && direction === 'dsc'" class="fa fa-sort-up"></i>
          </th>
          <th (click)="onColumnSelect('address')">Address
            <i *ngIf=" columnKey !=='address'" class=" fa fa-sort"></i>
            <i *ngIf="columnKey === 'address' && direction === 'asc'" class="fa fa-sort-down"></i>
            <i *ngIf="columnKey === 'address' && direction === 'dsc'" class="fa fa-sort-up"></i>
          </th>
          <th (click)="onColumnSelect('active')">Active
            <i *ngIf="columnKey !== 'active'" class="fa fa-sort"></i>
            <i *ngIf="columnKey === 'active' && direction === 'asc'" class="fa fa-sort-down"></i>
            <i *ngIf="columnKey === 'active' && direction === 'dsc'" class="fa fa-sort-up"></i>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | sorter:direction:columnKey | filter:phrase:filterKey ">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button (click)="onDelete(user)" class="btn btn-danger">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
